@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: url("/material-symbols/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2")
    format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}
body {
  font-family: "Inter", sans-serif;
}
/* SplashScreen.css */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b1120; /* you can use brand color too */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 0.5s ease forwards;
  animation-delay: 2s; /* fade out after 2s */
}

.splash_logo {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    to bottom right,
    rgba(13, 242, 242, 0.2),
    rgba(168, 85, 247, 0.2)
  );
  border: 1px solid rgba(13, 242, 242, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0df2f2;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(13, 242, 242, 0.3);
  animation: bounce 1.5s ease infinite;
}
/* optional bounce animation */
@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* fade out effect */
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
